@keyframes leftAnimation {
  0% {
    transform: translatey(-15%) translateX(5%);
  }
  50% {
    transform: translatey(-25%) translateX(-10%);
  }
  100% {
    transform: translatey(-15%) translateX(5%);
  }
}

@keyframes rightAnimation {
  0% {
    transform: translatey(-30%) translateX(0px);
  }
  50% {
    transform: translatey(-20%) translateX(5%);
  }
  100% {
    transform: translatey(-30%) translateX(0px);
  }
}

body {
  background-color: #7200d1;
  background-image: url(./img/planetes.png), url(./img/stars.png), linear-gradient(to bottom, #3f006a 0%, #7200d1 100%);
  background-position: center top, center top, center top;
  background-repeat: no-repeat, repeat, no-repeat;
  background-size: 100VW auto, auto auto, auto 1500px;
}

.nav {
  height: auto;
  width: 100%;
}

.nav .container {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

.nav .container .left {
  -webkit-backface-visibility: hidden;
  -webkit-filter: blur(0);
  -webkit-transform: translateZ(0) scale(1, 1);
  animation: leftAnimation 9s ease-in-out infinite;
  backface-visibility: hidden;
  filter: blur(0);
  margin-top: 110px;
  transform: translateZ(0) scale(1, 1);
}

.nav .container .right {
  animation: rightAnimation 9s ease-in-out infinite;
  margin-top: 80px;
}

.game-panel {
  display: block;
  margin: 50px auto 0;
  max-width: 1400px;
  text-align: center;
  width: 100%;
}

.game-panel .element {
  -moz-border-radius: 6px;
  -moz-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.55);
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.55);
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.55);
  color: #29b1e9;
  cursor: pointer;
  display: inline-block;
  font-family: tahoma;
  font-size: 14px;
  height: auto;
  letter-spacing: 0px;
  line-height: 22px;
  margin: 15px;
  max-width: 390px;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 100%;
}

.game-panel .element:hover {
  color: #fff;
}

.game-panel .element:nth-child(odd) {
  transform: rotate(1.2deg);
}

.game-panel .element:nth-child(even) {
  transform: rotate(-1.2deg);
}

.game-panel .element:hover:nth-child(odd) {
  background-color: #e72878;
  transform: rotate(-1.2deg);
}

.game-panel .element:hover:nth-child(even) {
  background-color: #f69626;
  transform: rotate(1.2deg);
}

.game-panel .element .title {
  color: #29b1e9;
  display: block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 16px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}